<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head', {title: "Sucess"}) %>

<body>
  <header>
    <%- heading %>
    <a href="/">Home</a>&nbsp;|&nbsp;
    <a href="/about">About</a>&nbsp;|&nbsp;
    <a href="/contact">Contact</a>
  </header>
  <main>
    <ul>
      <li><a href="/sucess/post1"> Post1 </a></li>
      <li><a href="/sucess/post2"> Post2 </a></li>
      <li><a href="/sucess/post1"> Post3 </a></li>
    </ul>
  </main>
</body>

</html>