<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/styles/home.css" />
  <link rel="stylesheet" href="/public/styles/about.css" />
</head>

<body>
  <header><%- include('../includes/home-nav') %></header>
  <main>
    <section class="">
      <h1>About Us</h1>

      <p>
        We started with calisthenics because, we wanted to try
        something else different to the gym.
      </p>
      <p>
        We loved it since the first day, because we noticed the
        rapid improvement in strenght.
      </p>
      <p>
        As usual, we got stuck very fast as well. Not being able to
        progress is very demotivating and we abandonded calisthenics
        for a while.
      </p>
      <p>
        For our luck, we started organizing group workouts. Here is
        where we learnt that the real strength is not in the
        dicipline and the own effort, but in having people who
        motivate you in the most challanging moments of
        calisthenics.
      </p>
      <p>
        We overcome the pitfall by joining group workouts and asking
        for help. We were lucky enough to be sorrounded with people
        who where very supportive. We just wished that we had this
        environment since the begining of our fitness journey.
      </p>
      <p>
        That is how Caliunity came to life. It should be a place for
        lifelong learning and supportive community.
      </p>
      <figure>
        <img src="/public/images/landing/push-bar-group.jpeg" alt="First calisthencis meetup" />
        <figcaption>First caliunity meetup</figcaption>
      </figure>
    </section>
  </main>
</body>

</html>