<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
</head>

<body>
  <div>
    <h4>
      <%= userId %>
    </h5>
    <img class="profile-pic" src="https://via.placeholder.com/300x200.png" alt="">
    
    <h5>Progress</h5>
    <p>Goal</p>
    <div class="goal">Here progress bar</div>
    <h5>Stats</h5>
    <p>Total workouts: </p>
    <p>Average workout: min</p>
    <p></p>
    <h5>Upcoming</h5>
    <p><%= currentDate  %></p>

  </div>

</body>

</html>